body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.5rem;
  color: #065c6f



}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #065c6f;
}

.skills-text {
  color: #065c6f;
}

.font-weight {
  font-weight: normal;
}
h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #065c6f;
  font-weight: bold;
}

p {
  font-size:1.2rem;
}

a {
  color: #11999E;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  font-size: 1.1rem;

}

a:hover {
  color: #065c6f;


}

.top-container {
  background-color: #e4f9f5;
  padding-top: 110px;
  position: relative;
  height: 700px;
  margin-bottom: 0px;

}

.middle-container-1 {
  padding-top: 5px;
  padding-bottom: 50px;
  position: relative;
  margin-top: 0px;
  background-color: #f4f4f4;


}

.middle-container-2 {
  padding-top: 5px;
  padding-bottom: 100px;
  position: relative;
  margin-top: 0px;
  background-color: #a3d2ca;

}

.middle-container-3 {
  padding-top: 5px;
  position: relative;
  margin-top: 0px;
  background-color: #dbe3e5;
  padding-bottom: 50px;

}


.bottom-container {
  padding-top: 40px;
  background-color: #66BFBF;
  padding-bottom: 30px;

}

.bottom-cloud {
  position: absolute;
  top: 45%;
  left: 15%;
}

.mountain{
  position: absolute;
  left: 20%;
  bottom: 0%
}

.nature{
  position: absolute;
  right: -.2%;
  bottom: -4.2%
}

.bush1{
  position: absolute;
  left: 2%;
  bottom: -6%
}
.bush2{
  position: absolute;
  left: 9%;
  bottom: -6%
}

.grass1{
  position: absolute;
  right: 50%;
  bottom: 0.0%
}
.grass2{
  position: absolute;
  right: 47.5%;
  bottom: 0.0%
}
.grass3{
  position: absolute;
  right: 45%;
  bottom: 0.0%
}
.grass4{
  position: absolute;
  right: 42.5%;
  bottom: 0.0%
}
.grass5{
  position: absolute;
  right: 40.0%;
  bottom: 0.0%
}

.grass6{
  position: absolute;
  right: 37.5%;
  bottom: 0.0%
}
.grass7{
  position: absolute;
  right: 35%;
  bottom: 0.0%
}
.grass8{
  position: absolute;
  right: 32.5%;
  bottom: 0.0%
}
.grass9{
  position: absolute;
  right: 30%;
  bottom: 0.0%
}
.grass10{
  position: absolute;
  right: 27.5%;
  bottom: 0.0%
}
.grass11{
  position: absolute;
  right: 25%;
  bottom: 0.0%
}
.grass12{
  position: absolute;
  right: 22.5%;
  bottom: 0.0%
}
.grass13{
  position: absolute;
  right: 20%;
  bottom: 0.0%
}
.grass14{
  position: absolute;
  right: 17.5%;
  bottom: 0.0%
}
.grass15{
  position: absolute;
  right: 15%;
  bottom: 0.0%
}

.top-cloud {
  position: absolute;
  top: 2%;
  right: 12%;

}

.skill-row {
  width: 75%;
  margin: 75px auto 0px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  width: 75%;
  margin: 50px auto 0px auto;
  text-align: left;
  line-height: 2;

}


.profile-img {
  height: 300px;
  float: left;
  margin-right: 30px;

}
.robot-img {
  float: right;
  margin-left: 20px;
  height: 220px;
}

.code-img {
  float: left;
  margin-right: 20px;
  height: 220px;
}

.ai-img {
  height: 220px;
  float: right;
  margin-left: 20px;
}

.rob-desc {

}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: #8d93ab;
  border-width: 8px;
  width: 5%;
  margin-bottom: 50px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  color: #ffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
